# Dependency directories
node_modules/

#Build directory
build/
dist/

# Output of 'npm pack'
*.tgz

# Test database
*.sqlite*

# Some macOS stuff
.DS_Store

# Build info
tsconfig.tsbuildinfo

# Next
.next